{{- /* Footer custom content area start */ -}}
{{- /*  Can be part of extended footer, but keeping it here. Insert any custom code web-analytics, resources, etc. here */ -}}
{{- /* Footer custom content area end */ -}}
<div id="cookie-consent" class="cookie-consent">
    <div class="cookie-message">
      This site uses cookies to improve your experience on our website. By using and continuing to navigate this website, you accept this.
      <a href="/privacy" class="privacy-policy-link">Privacy Policy</a>
    </div>
    <button id="accept-cookies" class="accept-cookies-button">I understand</button>
</div>

  <script src="{{ "js/cookie_consent.js" | relURL }}"></script>