{{ $context := . }}
{{ $menu := $context.menu }}
{{ $currentPage := $context.currentPage }}
<ul class="menu">
    {{ range $menu }}
    {{ $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
    {{ $page_url := $currentPage.Permalink | absLangURL }}
    {{ $is_search := eq (site.GetPage .KeyName).Layout "search" }}
    <li class="menu-item">
        <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}{{ cond $is_search " (Alt + /)" "" }}"{{ if $is_search }} accesskey="/"{{ end }}>
            <span {{ if eq $menu_item_url $page_url }} class="active"{{ end }}>
                {{ .Pre }}{{ .Name }}{{ .Post }}
            </span>
            {{ if (findRE "://" .URL) }}&nbsp;
            <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                <path d="M15 3h6v6"></path>
                <path d="M10 14L21 3"></path>
            </svg>
            {{ end }}
            {{ if .HasChildren }}
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 14 14"> 
                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/> 
                </svg>
            {{ end }}
        </a>
        {{ if .HasChildren }}
        <div class="sub-menu">
            {{ range .Children }}
                <div class="sub-menu-item">
                    <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
                        {{ .Name }}
                        {{ if .HasChildren }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" viewBox="0 0 14 14">
                                <path d="M4 3.204c0-.859 1.013-1.319 1.658-.753l5.48 4.796a1 1 0 0 1 0 1.506l-5.48 4.796A1 1 0 0 1 4 10.796V3.204z"/>
                            </svg>
                        {{ end }}
                    </a>
                    {{ if .HasChildren }}
                    <div class="sub-sub-menu">
                        {{ range .Children }}
                        <div class="sub-sub-menu-item">
                            <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}">
                                {{ .Name }}
                            </a>
                        </div>
                        {{ end }}
                    </div>
                    {{ end }}                    
                </div>
            {{ end }}
        </div>
        {{ end }}
    </li>
    {{ end }}
</ul>
